* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding: 2rem;
    box-sizing: border-box;
}

/* Variables */
:root {
    --container-color: #1a1e21;
    --second-color: #fd8f44;
    --text-color: #172317;
    --bg-color: #fff;
    --post-background:#f8f8ff;
}

::selection {
    color: var(--bg-color);
    background: var(--second-color);
}

a {
    text-decoration: none;
}



body{
    background: var(--post-background);
}
section {
    padding: 3rem 0 2rem;

}

.container {
    max-width: 1068px;
    margin: auto;
    width: 100%;
}

/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
}

header.shadow {
    background: var(--bg-color);


    transition: 0.4s;
}

header.shadow .logo {
    color: var(--text-color);
}



.logo {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--bg-color);
}

.logo span {
    color: var(--second-color);
}

.post-content{
    background: var(--bg-color);
    padding: 20px 20px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.footer p {
    font-size: 0.938rem;
}

.social {
    display: flex;
    column-gap: 1rem;
    align-items: center;
}

.social .bx {
    font-size: 1.4rem;
    color: var(--text-color);
}

.social .bx:hover {
    color: var(--second-color);
    transition: 0.3s all linear;
}

/* Post Content  */
.post-header {
    width: 100%;
    height: 500px;
    background-color: var(--container-color);
}

.post-container {
    max-width: 800px;
    margin: auto;
    width: 100%;
}
.author_name{
    color:grey;
    border-left:4px solid rgb(31,101,105);
    margin-left:5px;
    padding:2px;
}
.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem !important;
}

.back-home {
    color: var(--second-color);
    font-size: 0.9rem;

}

.header-title {
    width: 90%;
    font-size: 2.6rem;
    color: var(--bg-color);
    text-align: center;
    margin-bottom: 1rem;
}

.header-img {
    width: 100%;
    height: 420px;
    object-fit: cover;
    object-position: center;
}

.post-content {
    margin-top: 10rem !important;
}
.post-img{
   
    display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
}
figure{
    border: 1px #ccccc Solid;
    padding:4px;
    margin:auto;
}
figcaption{
    background-color:black;
    color:white;
    font-style:italic;
    padding: 2px;
    text-align:center;
}
.sub-heading {
    font-size: 1.2rem;
}

.post-text {
    font-size: 1rem;
    font-weight: 400;
    font-family: ReithSans,Helvetica,Arial,freesans,sans-serif;
    line-height: 1.7rem;
    margin: 1rem 0;
    text-align: justify;
}

/* Share  */
.share {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}

.share-title {
    font-size: 1rem;
}

/* Responsive  */
@media (max-width: 1060px) {
    .container {

        margin: 0 auto;
        width: 95%;
    }

    .home-text {
        width: 100%;
    }
}

@media (max-width: 850px) {
    .nav {

        padding: 14px 0;
    }

    .post-container {
        margin: 0 auto;
        width: 95%;
    }


}

@media (max-width: 768px) {
    .nav {

        padding: 10px 0;
    }

    section {
        padding: 2rem 0;

    }

    .header-content {
        margin-top: 3rem !important;
    }

    .home {
        min-height: 380px;
    }

    .home-title {
        font-size: 3rem;
    }

    .header-title {
        font-size: 2rem;
    }

    .header-img {
        height: 370px;
    }

    .post-header {
        height: 435px;
    }

    .post-content {
        margin-top: 6rem !important;
    }


}

@media (max-width: 655px) {
    .post-content {
        margin-top: 8rem !important;
    }

    .footer {

        padding: 20px 0;
        flex-direction: column;
        row-gap: 1rem;

        text-align: center;
    }
}

@media (max-width: 436px) {
    .home-title {
        font-size: 2rem;
    }
}
@media (max-width: 330px){
    .header-title{
        font-size: 1.4rem;
    }
    .header-img{
        height: 370px;
    }
}
